<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@172.16.200.101:1521:orcl</property>
        <property name="hibernate.connection.username">xingfa</property>
        <property name="connection.password">wms</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <!-- 配置C3P0 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>
        <!-- 最大连接数 -->
        <property name="hibernate.c3p0.max_size">30</property>
        <!-- 最小连接数 -->
        <property name="hibernate.c3p0.min_size">3</property>
        <!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
        <property name="hibernate.c3p0.timeout">30</property>
        <!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <!--<property name="hibernate.show_sql">true</property>-->
        <mapping class="com.asrs.domain.Plc"/>
        <mapping class="com.asrs.domain.Wcs"/>
        <mapping class="com.asrs.domain.AsrsJob"/>
        <mapping class="com.asrs.domain.Route"/>
        <mapping class="com.asrs.domain.RouteDetail"/>
        <mapping class="com.asrs.domain.Station"/>
        <mapping class="com.asrs.domain.Location"/>
        <mapping class="com.asrs.domain.WcsMessage"/>
        <mapping class="com.thread.blocks.Block"/>
        <mapping class="com.thread.blocks.Lift"/>
        <mapping class="com.thread.blocks.StationBlock"/>
        <mapping class="com.thread.blocks.MCar"/>
        <mapping class="com.thread.blocks.SCar"/>
        <mapping class="com.thread.blocks.Srm"/>
        <mapping class="com.thread.blocks.Conveyor"/>
        <mapping class="com.thread.blocks.Dock"/>
        <mapping class="com.asrs.domain.MessageLog"/>
        <mapping class="com.asrs.domain.AsrsJobTest"/>
        <mapping class="com.asrs.domain.Configuration"/>
        <mapping class="com.asrs.domain.TransportOrderLog"/>
        <mapping class="com.asrs.domain.SystemLog"/>
        <mapping class="com.asrs.domain.XMLMessage"/>
        <mapping class="com.asrs.domain.InMessage"/>
    </session-factory>
</hibernate-configuration>